<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peng.zhi.liu.mapper.OperateLogMapper">
<!--    新增日志-->
    <insert id="addOperateLogMapper">
        insert into operate_log(operate_emp_id, operate_time, class_name, method_name, method_params, return_value, cost_time)
        values(#{operateEmpId},#{operateTime},#{className},#{methodName},#{methodParams},#{returnValue},#{costTime})
    </insert>
<!--    分页查询日志列表-->
    <select id="selectLogPageMapper" resultType="peng.zhi.liu.pojo.OperateLog">
        select * from operate_log order by operate_time desc
    </select>
</mapper>